body { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    background-size: cover;  }

header {
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}

.jumbotron {
    max-width: 580px;
    padding-top: 15px;
    position: relative;
    padding-bottom: 21px;
    box-shadow: 1px 1px #eddecd;
}

